@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
}

html{
    scrollbar-width: smooth;
}

/* sidebar content */
#main {
    width: calc(100% -180px);
    margin-left: 180px;
    margin-right: 10px;
    margin-top: 55px;
}

.dataTables_scrollBody {
    overflow-y: hidden!important;
    overflow-x: hidden !important;
   
 }


 /* sidebar hover */

.sidebar-hover:hover {
    background-color: #3fb48a;
    color: #f1f1f1; 
    border-radius: .5rem;
    
}

.sidebar-active:focus-within {
    background-color: #3fb48a;
    color: #f1f1f1; 
    
}