@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
    width: calc(100% -180px);
    margin-left: 180px;
    margin-top: 55px;
}

.dataTables_scrollBody {
    overflow-y: hidden!important;
   
 }


 @media (min-width: 1280px) { 
    /* #topCard {
        font-size: 18px;
        width: 30%;
        height: 50%;
        padding: 1rem;
    }
    
    .card-icon {
        font-size: 28px;
    } */
  }